@model RSWEB_university_project.Models.Enrollment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Enrollment</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Course)
    </dt>
    <dd class="col-sm-10">
        <a asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseID">
            @Html.DisplayFor(model => model.Course.Title)
        </a>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Student)
    </dt>
    <dd class="col-sm-10">
        <a asp-controller="Students" asp-action="Details" asp-route-id="@Model.StudentID">
            @Html.DisplayFor(model => model.Student.FullName)
        </a>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Semestar)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Semestar)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Grade)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Grade)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Year)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Year)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.SeminalUrl)
    </dt>
    <dd class="col-sm-10">
        @if (Model.SeminalUrl != null)
        {
            <a href="@("/seminals/" + Model.SeminalUrl)" target="_blank">
                @Model.SeminalUrl
            </a>
        }
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProjectUrl)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProjectUrl)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ExamPoints)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ExamPoints)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.SeminalPoints)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.SeminalPoints)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProjectPoints)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProjectPoints)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.AdditionalPoints)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AdditionalPoints)
    </dd>
    </dl>

    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EnrollmentID" />


            <div class="form-group">
                <label asp-for="FinishDate" class="control-label"></label>
                <input asp-for="FinishDate" class="form-control" />
                <span asp-validation-for="FinishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>


    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
