@model IEnumerable<RSWEB_university_project.Models.Enrollment>

@{
    ViewData["Title"] = "Enrollments";
}

<h1>Courses by student @ViewData["studentName"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Course</th>
            <th>Semester</th>
            <th>Grade</th>
            <th>Year</th>
            <th>Finish date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semestar)
                </td>
                <td>
                    @item.Grade
                </td>
                <td>
                    @item.Year
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishDate)
                </td>

                <td>
                    @if (item.FinishDate == null)
                    {
                        <a asp-action="EditByStudent" asp-route-id="@item.EnrollmentID">Edit &amp; Details </a>
                    }
                    else
                    {
                        <a asp-action="EditByStudent" asp-route-id="@item.EnrollmentID">Details </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
